.unpressable-button {
    background-color: #5c725d;
    color: white;
    border: none;
    margin-left: 10px;
  }

  .edit-button {
    background-color: #d3cd56;
    margin-right: 10px;
  }

  .edit-button:hover {
    background-color: #8b873a;
  }
  .delete-button {
    background-color: #a11607; 
  }

  .delete-button:hover {
    background-color: #440a03;
  }